/* https://coolors.co/palette/ffb5a7-fcd5ce-f8edeb-f9dcc4-fec89a 
https://coolors.co/palette/590d22-800f2f-a4133c-c9184a-ff4d6d-ff758f-ff8fa3-ffb3c1-ffccd5-fff0f3 */

.task {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #ffffff;
  border-radius: 10px;
  color: #ffb5a7;
  width: 500px;
  height: fit-content;
  margin: 5px;
  padding: 10px 10px;
}
.topbar {
  display: flex;
  align-items: center;
}

.subject {
  font-optical-sizing: auto;
  font-weight: 500;
  color: #ff4d6d;
  font-size: 17px;
}

.bar {
  width: fit-content;
  margin-right: 5px;
  height: fit-content;
  padding: 1px 3px;
  border-radius: 5px;
  background-color: #ffb5a7;
  font-size: 12px;
  color: whitesmoke;
  font-weight: 600;
}
